<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="LogicLayer.Properties.Settings.myvideos90ConnectionString"
        connectionString="Data Source=WIN-CCD8DDRGMT9\MAIN;Initial Catalog=myvideos90;User ID=sa;Password=killabee"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>