<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicLayer.Properties.Settings.myvideos90ConnectionString"
            connectionString="Data Source=WIN-CCD8DDRGMT9\MAIN;Initial Catalog=myvideos90;User ID=sa;Password=killabee"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>